.navbar-link {
  color: #777
}

.navbar-link:hover {
  color: black;
  text-decoration: none;
}

body {
  text-align: center;
  color: #444;
}

img {
  height: 300px;
  width: auto;
}

li {
  list-style: none;
}

.jumbotron {
  background-color: transparent !important;
}

.btn-secondary {
  border: 2px solid #ddd !important;
  color: #444;
}

.btn-secondary:hover {
  background-color: #ddd;
  border: 2px solid #ddd !important;
  color: #fff !important;
}
