.navbar-link {
  color: #777
}

.navbar-link:hover {
  color: black;
  text-decoration: none;
}

body {
  text-align: center;
}

img {
  height: 300px;
  width: auto;
}

li {
  list-style: none;
}

.jumbotron {
  background-color: transparent !important;
}
